extends ../layout.pug
block content
    // write me a full news article using a lorem ipsum generator
    .container
        .row
            .col-12
                h1.title Article 1
                p.meta Written by John Doe on February 27, 2023
            .col-12
                p.preview This is a short preview of the article. It should be brief but informative, giving readers an idea of what the article is about.
            .col-12
                p.content Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla

